.idea
node_modules
minty-deployment.json
minty-deployment-mumbai.json
minty-deployment-matic.json
config/.env
.env
.wallet.json
.secrets.json
.hardhat.config.js

#Hardhat files
cache
artifacts

#WIP
modules/integrations